body {
    background-image: linear-gradient(rgba(17, 24, 39, 0.45), rgba(17, 24, 39, 0.45)),
    url('/imgs/landing.jpeg');
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 5rem rgba(17, 24, 39, 0.5);
}

#footer {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(0deg, rgba(17, 24, 39,1) 10%, rgba(27,27,27,0.5) 75%, rgba(255,255,255,0) 100%);
}

#navbar {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(180deg, rgba(17, 24, 39,1) 10%, rgba(27,27,27,0.5) 85%, rgba(255,255,255,0) 100%);
}

main {
    text-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.7);
}

.nav-link {
    font-weight: 700;
}

.nav-link:hover {
    text-decoration: underline;
}

.btn-lg {
    font-weight: 600;
    color: #333;
    text-shadow: none;
}