<% layout("layouts/boilerplate") %>

<h1><%=campground.title%></h1>  
<h2><%=campground.location%></h2>
<p>
    <a href="/campgrounds/<%=campground._id%>/edit">&rarr; Edit Campground</a>

    <form id="deletion" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <a href="javascript:;" onclick="document.getElementById('deletion').submit();">&LeftArrowBar; Delete</a>
        <input type="hidden" name="mess" value=Delete/>
    </form>
</p>

<footer>
    <a href="/campgrounds">&crarr; All Campgrounds</a>
</footer>